@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    min-height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner-img.jpg") center/cover no-repeat; */
    background-color: #E4E9F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: 420px 420px;
}

.card-img {
    background: url("/images/futsal2.jpg") center/cover no-repeat;
}

.banner h1 {
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.card-content {
    background: #fff;
    height: 400px;
}

.card-content h3 {
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}

.form-row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

form input {
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
    position: relative;
}

form input[type=text],
form input[type=number],
form input::placeholder,
select {
    color: #9a9a9a;
}

form input[type="date"]::before {
    content: attr(placeholder);
    position: absolute;
    color: #999999;
}

form input[type="date"] {
    color: #ffffff;
}

form input[type="date"]:focus,
form input[type="date"]:valid {
    color: #666666;
}

form input[type="date"]:focus::before,
form input[type="date"]:valid::before {
    content: "";
}

form input[type="time"]::before {
    content: attr(placeholder);
    position: absolute;
    color: #999999;
}

form input[type="time"] {
    color: #ffffff;
}

form input[type="time"]:focus,
form input[type="time"]:valid {
    color: #666666;
}

form input[type="time"]:focus::before,
form input[type="time"]:valid::before {
    content: "";
}

form input[type=submit] {
    color: #fff;
    width: 35%;
    background: #008080;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input[type=submit]:hover {
    opacity: 0.9;
}

@media(max-width: 992px) {
    .card-container {
        grid-template-columns: 100%;
        width: 100vw;
    }

    .card-img {
        height: 330px;
    }
}