a {
    text-decoration: none;
}

body {
    background-color: #F2F2F2;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.steps .card {
    margin-right: 50px;
    margin-top: 20px;
    width: 230px;
    height: 200px;
    padding: 10px;
    border-radius: 6px;
    background-color: #FFF;
    border-radius: 15px;
    padding-left: 30px;
    padding-top: 50px;
}

.steps .card img {
    width: 40px;
}

a {
    text-decoration: none;
    text-align: center;
}

.btn {
    padding: 5px 10px;
    background-color: royalblue;
}

.wrap {
    margin: 10px 50px;
}